[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts,tsx}]
indent_style = space
indent_size = 2

# Markdown Files
[*.md]
trim_trailing_whitespace = false
