{
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended",
        "plugin:prettier/recommended"
    ],
    "env": {
        "jest": true
    },
    "rules": {
        "no-console": "off",
        "no-process-env": 0
    }
}
